html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  text-decoration: none;
  outline: 0;
  width: 100%;
}

.site-container {
  padding: 100px 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  background-image: url(2016-Toyota-Corolla-Hybrid-Toyota-Prius-Hybrid-4.jpg);
  background-position-y: 100%;
  background-size: cover;
  height: calc(100vh - 70px);
  font-size: 18px;
  line-height: 0.9em;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.description-div {
  max-height: 800px;
  background: none;
  border: solid 1px rgb(169, 221, 255);
  border-radius: 15px;
}

#description-combustion,
#description-hybrid {
  margin: 20px;
  padding: 10px 10px 20px 10px;
  background: linear-gradient(
    +135deg,
    rgba(169, 221, 255, 0.3),
    rgba(169, 221, 255, 0.9)
  );
  border: solid 1px rgb(169, 221, 255);
  font-size: 18px;
  line-height: 1em;
  min-width: 300px;
}

.description-div img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.description-div h1 {
  font-size: 18px;
  color: rgb(169, 221, 255);
  padding: 6px 3px 3px 3px;
  border-bottom: solid 4px red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description-div p {
  color: black;
  padding: 5px;
}

.description-div a {
  margin: 0 0 2px 2px;
  font-style: italic;
  color: black;
}

.slide-container {
  max-height: 800px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;

  border: solid 1px rgb(169, 221, 255);
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.65);
}

.header-div-container {
  color: rgb(169, 221, 255);
  margin: 0;
  margin-bottom: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-div-container h1 {
  font-size: 26px;
}

.slide-main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(169, 221, 255, 0.5);
  border: solid 1px rgb(169, 221, 255);
  padding: 10px;
  box-shadow: inset 0 0 12px black;
  height: calc(100vh - 350px);
  max-height: 450px;
  width: 300px;
}

.result-container {
  width: 300px;
  background: linear-gradient(
    +135deg,
    rgba(169, 221, 255, 0.3),
    rgba(169, 221, 255, 0.9)
  );
  border: solid 1px rgb(169, 221, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.copyright-container {
  position: relative;
  bottom: 0;
  background: rgb(16, 17, 17);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 12px;
}

.copyright-container p {
  font-style: italic;
  color: white;
  padding: 2px 20px 0 10px;
  font-size: 16px;
}

.copyright-container img {
  height: 45px;
  min-width: 45px;
  border-radius: 100%;
  margin: 10px 0 0 7px;
}

.town-driving-box,
.long-distance-driving-box {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 21px;
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
label {
  font-size: 13px;
}

.town-travel,
.long-distance {
  margin-top: 2px;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: calc(50% - 30px);
  width: 60px;
  height: 30px;
  background: white;
  box-shadow: inset 4px 0px 4px;
  border: solid 0.5px red;
  padding-left: 10px;
}

.result-compare-container {
  display: flex;
  flex-direction: row;
}

.compare-result,
.economy-result {
  padding: 0 1px 0 1px;
  color: red;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Galaxy S9  */
@media (max-width: 360px) {
  .site-container {
    background-position-x: 600px;
    background-size: 870px;
  }
}

/* iPhone 6/7/8 iOS 11 */
/* iPhone 6/7/8 Plus iOS 11, iPhone X/XS iOS 12 */
@media (max-width: 375px) {
  .slide-container {
    background-position-x: 600px;
    background-size: 870px;
  }
}

/* iPhone 6/7/8 Plus iOS 11  */
@media (max-width: 414px) {
  .slide-container {
    background-position-x: 700px;
    background-size: 870px;
  }
}

/* Galaxy S9 horizontal */
@media (max-width: 740px) {
  .slide-container {
    background-position-x: 750px;
    background-size: 900px;
  }
}

/* Iphone 6/7/8 iOS 11 horizontal */
@media (max-width: 667px) {
  .slide-container {
    background-position-x: 800px;
    background-size: 950px;
  }
}

/* iPhone 6/7/8 Plus iOS 11 horizontal */
@media (max-width: 736px) {
  .slide-container {
    background-position-x: 1000px;
    background-size: 1000px;
  }
}

/* iPhone X/XS iOS 12 horizontal */
@media (max-width: 812px) {
  .slide-container {
    background-position-x: 1100px;
    background-size: 1100px;
  }
}

/* iPad horizontal*/
@media (max-width: 1024px) {
  .slide-container {
    background-position-x: 1200px;
    background-size: 1200px;
  }
}

/* Kindle Fire HDX Linux horizontal*/
@media (max-width: 1280px) {
  .site-container {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 0;
    background-image: url(2016-Toyota-Corolla-Hybrid-Toyota-Prius-Hybrid-4.jpg);
    background-position-x: 1200px;
    background-size: 1200px;
    background-position-y: unset;
    height: unset;
    line-height: 0.9em;
  }
  .slide-container {
    order: -1;
    padding: 5px;
    margin: 2px;
  }
  .description-div {
    max-height: 1100px;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #description-combustion,
  #description-hybrid {
    margin: 5px;
    padding: 5px 5px 10px 5px;
    font-size: 16px;
    min-width: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .description-div h1 {
    font-size: 20px;
    margin-bottom: 2px;
    padding: 3px 1.5px 1.5px 1.5px;
    padding: 0 0 2px 2px;
  }
  .description-div p {
    padding: 2px;
  }
  .header-div-container {
    margin-bottom: 5px;
  }
  .header-div-container h1 {
    font-size: 30px;
  }
  .slide-main-box {
    box-shadow: inset 0 0 12px black;
    height: 450px;
    max-width: 450px;
    min-width: 250px;
    width: calc(100% - 30px);
    padding: 5px;
  }
  .result-container {
    width: calc(100% - 30px);
    max-width: 450px;
    font-size: 15px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .copyright-container p {
    font-size: 20px;
  }
  .town-driving-box,
  .long-distance-driving-box {
    max-width: 200px;
    margin: 0 0 0 calc(50% - 100px);
  }
  h2 {
    font-size: 21px;
  }
  label {
    font-size: 13px;
  }
  .town-travel,
  .long-distance {
    margin-top: 10px;
    font-size: 12px;
    margin-left: calc(50% - 30px);
    width: 60px;
    height: 30px;
    padding-left: 15px;
  }
}

@media (min-width: 1950px) {
  .site-container {
    padding: 100px 50px 100px 50px;
    grid-gap: 100px;
  }
  .description-div {
    max-height: 1000px;
  }
  #description-combustion,
  #description-hybrid {
    margin: 20px;
    padding: 10px 10px 20px 10px;
    font-size: 24px;
    min-width: 500px;
  }
  .description-div h1 {
    font-size: 23px;
    padding: 6px 3px 10px 3px;
  }
  .description-div p {
    padding: 10px;
  }
  .slide-container {
    max-height: 1000px;
  }
  .header-div-container {
    margin-bottom: 50px;
  }
  .header-div-container h1 {
    font-size: 40px;
  }
  .slide-main-box {
    height: calc(100vh - 350px);
    max-height: 550px;
    width: 450px;
  }
  .result-container {
    width: 450px;
    font-size: 25px;
  }
  .town-driving-box,
  .long-distance-driving-box {
    max-width: 300px;
    margin: 0 0 0 calc(50% - 150px);
  }
  .town-travel,
  .long-distance {
    margin-top: 20px;
    font-size: 23px;
    margin-left: calc(50% - 60px);
    width: 120px;
    height: 60px;
    padding-left: 20px;
  }
}
